<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Start device-->
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>Servlet.Start</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>
    
    <!--Stop device-->
    <servlet>
        <servlet-name>Stop</servlet-name>
        <servlet-class>Servlet.Stop</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stop</servlet-name>
        <url-pattern>/Stop</url-pattern>
    </servlet-mapping>
    
    <!--Get Time and Set Time-->
    <servlet>
        <servlet-name>Time</servlet-name>
        <servlet-class>Servlet.Time</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Time</servlet-name>
        <url-pattern>/Time</url-pattern>
    </servlet-mapping>
    
    <!--Schedule Energy Consumption-->
    <servlet>
        <servlet-name>Schedule</servlet-name>
        <servlet-class>Servlet.Schedule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Schedule</servlet-name>
        <url-pattern>/Schedule</url-pattern>
    </servlet-mapping>
    
    <!--Stop Echo--> 
    <servlet>
        <servlet-name>StopEcho</servlet-name>
        <servlet-class>Servlet.StopEcho</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StopEcho</servlet-name>
        <url-pattern>/StopEcho</url-pattern>
    </servlet-mapping>
    
    <!-- Infinite Session timeout-->
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    
    <!--Name in tomcat-->
    <display-name>
        シミュレーター操作, EV, Battery, Solar, Light.
    </display-name>
    
    <!--End-->
</web-app>
