$tag-color:#f1ff7c85;
body{
    background-image: url("../img/HEMS-top-img.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
#bg-img{
    object-fit: cover;
}
.bg-color{
    background-color: #40404080;
    min-height: 100vh;
}
.head-title{
    font-size: 2vw;
    font-weight: 600;
    color: #5a5151;
    text-align: center;
    background: #ffffff8a;
    margin: 0 3rem;
}

.header{
    margin-bottom: 5vh;
    .container{
        div{
            height: 100%;
            width: 3%;
            background: $tag-color;
            margin-left: 3rem;
            position: absolute;
        }
    }
}