/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2019, 2:15:40 PM
    Author     : nguyen-viet-bach
*/

.datetimepicker{
    border: 1px solid gray;
    background: white;
    top: 12rem !important;
}
.main input{
    text-align: center;
}
.datetimepicker td{
    text-align: center !important;
}

.main{
    text-align: center;
    margin-top:10rem
}

.main button{
    margin-top: 2rem;
    width: 6rem;
}